/* author: Sang Vo
created: 22/07/22
last modified: 11/12/22
description: CSS file for index.html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

/* Home Page Styling  */
header {
    background: black;
    opacity: 70%;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2000;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding-right: 5rem;
}

.nav-logo {
    font-size: 2rem;
}

/* Hover Effect */
.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(248, 203, 126);
}

/* Hamburger Nav */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Dynamically turns into hamburger menu when it's a mobile device or smaller tablet*/
@media(max-width: 920px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(4){
        transform: translateY(-12px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        padding-left: 5rem;
        flex-direction: column;
        background: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-item {
        margin: 16px 0;
    }
    
    .nav-menu.active {
        left: 0;
    }
}

.seemore {
    position: fixed;
    padding-top: 300px;
    transform: translateY(-40%);
    font-size: 1.25vmax;
    letter-spacing: 0.3vmax;    
    z-index: -2;
}

.container .words span {
    position: absolute;
    white-space: nowrap;
    color: rgb(248, 203, 126);
    animation: animate 17s linear infinite;
    opacity: 0;
}

.container .words span:nth-child(2) {
    animation-delay: 2s;
}

.container .words span:nth-child(3) {
    animation-delay: 4s;
}

.container .words span:nth-child(4) {
    animation-delay: 6s;
}

.container .words span:nth-child(5) {
    animation-delay: 8s;
}

.container .words span:nth-child(6) {
    animation-delay: 10s;
}

.container .words span:nth-child(7) {
    animation-delay: 12s;
}

.container .words span:nth-child(8) {
    animation-delay: 14s;
}

.container .words span:nth-child(9) {
    animation-delay: 16s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    2% {
        opacity: 1;
        transform: translateY(0);
    }
    
    10% {
        opacity: 1;
        transform: translateY(0);
    }

    12% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

.container {
    height: 100vh;
    position: relative;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.main-title {
    position: absolute;
    font-size: 5rem;
    top: 20%;
    left: 40%;
    transform: translate(-40%, 40%);
    text-shadow: 0 0 10px rgba(255, 255, 255, .15);
}

/* Snow Particle Effect Positioning */
#snow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Project Section Styling */
.projects {
    width: 100vw;
    max-width: 100%;    
    background-color: #102044;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    height: 430vh;
    position: absolute;
    z-index: 2;
}
.projects > h1 {
    font-size: 5em;
}
.pcard {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 80vmin;
    height: 80vmin;
    padding: 1vw 1vw 2vw 1vw;
    border: 10px solid #97ade6;
    border-radius: 4px;
    box-shadow: 3rem 3rem rgba(0,0,0,0.3);
}
.pcard > h2 {
    display: block;
    color: black;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 15px;
}
.pcard > img {
    width: 100%;
    height: 53%;
    object-fit: cover;
    justify-content: center;    
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}
.pcard:nth-child(2) {
    height: 92vmin;
}
.pcard:nth-child(2) > img {
    width: 40%;
    height: 65%;
}
.cardProjectTech {
    margin: 0.3em;
    text-align: center;
}
.cardProjectTech > img {
    object-fit: scale-down;
    width: 50px;
    height: 50px; 
}
.cardDescriptionBox {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
}
.cardDescriptionBox > p {
    max-height: 100%;
    width: 90%;
    font-size: 1.9vmin;
    color: black;
}
.cardLinkWrapper {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.cardLinkWrapper > a {
    font-size: 3rem;
}
.cardLinkWrapper > a:first-child {
    color:rgb(53, 141, 241);
    gap:50px;
}
.cardLinkWrapper > a:nth-child(2) {
    color: black;
}
.cardLinkWrapper > a > h3 {
    padding-top: 10px;
    font-size: 0.9rem;
}
.cardLinkWrapper > a:first-child > h3 {
    color:rgb(53, 141, 241);
}
.cardLinkWrapper > a:nth-child(2) > h3 {
    color: black;
} 
/* Logic for changing colours when hovering over text/icon
    Use !important to overide previous black/blue colour */
.cardLinkWrapper > a:hover, .cardLinkWrapper > a:hover > h3 {
    color: rgb(248, 203, 126) !important;
}

/* Page extension due to parallax scroll page pin */
.hi {
    min-height: 360vh; 
    background-color: #102044;
    width: 100%;
}

/* Experience Section Styling */
.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20vh 20vw;
    width: 100vw;
    max-width: 100%;
    height: 155vh;
    background-color: #102044;
}
.experience h1 {
    font-size: 5em;
    margin-top: -10%;
    padding-bottom: 2.3em;
    text-align: center;
}
.expCard {
    width: 100%;
    height: 13rem;
    background-color: white;
    border: 2px solid #97ade6;
    border-radius: 4px;
    box-shadow: 3rem 3rem rgba(0,0,0,0.3);
    outline: thick solid #97ade6;
    float: left;
}
.expCard > img {
    float: left;
    margin-right: 30px;
    height: 12.7rem;
    width: 200px;
    object-fit: cover;
}
.cardExperienceBox > p {
    color: black;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}
.cardExperienceBox > h2 {
    color: black;
    font-size: 1.5rem;
    padding-top: 10px;
}
.cardExperienceBox > h3 {
    color: rgb(240, 164, 24);
    font-size: 1.3rem;
}

/* Contact Me Section Styling  */
.about {
    width: 100%;
    background-color: #102044;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
}
.about h1 {
    font-size: 5em;
    padding-top: 5%;
    padding-bottom: 2.3em;
    text-align: center;
}
.card {
    width: 33rem;
    display: block;
    box-sizing: border-box;
    margin: 0 36% 0 36%;
}
.card-bio {
    background-color: #97ade6;
    padding: 2rem 2rem 6rem 2rem;
    display: flex;
    border-radius: .5rem .5rem 0 0; 
    position: relative;
    z-index: 100;
}
.card-info img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; 
    height:100%;
    object-fit: cover;
}
.card-info {
    text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.3);
}
.card-contact {
    background-color: #5e79c4;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0 0 .5rem .5rem;
    transform: translateY(-100%); 
    transition: all 0.5s;
}
.change .card-contact {
    transform: translateY(0);
}
.card-contact h5 {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.3);
    transform: scale(0);
    transform-origin: left;
    transition: all 0.5s;
}
.change .card-contact h5 {
    transform: scale(1);
}
.image-wrapper {
    width: 36rem;
    height: 10rem;
    margin-right: 3rem;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.card-btn {
    position: absolute;
    bottom: -2.5rem;
    right: 10rem;
    padding: 1rem 1.5rem 1rem 1.7rem;
    background-color: #2b303a; 
    color: #fff;
    border-radius: 5rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.3);
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}
/* Logic for changing colours when hovering over contact me button & "^"
    Use !important to overide previous white colour */
.card-btn span:hover, .card-btn i:hover  {
    color: rgb(240, 164, 24) !important;
}
.change .card-btn {
    width: 6rem;
    right: -3rem;
    bottom: -3rem;
    border-radius: 50%;
}
.card-btn-info {
    transition: all 0.5s 0.1s;
}
.card-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.change .card-btn-info {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s; 
}
.card-btn i {
    opacity: 0;
    visibility: hidden;
}
.change .card-btn i {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}
.card-out {
    background-color: #fff;
    padding: 1.2rem;
    margin: 1rem 0;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0; 
    visibility: hidden;
}
.change .card-out {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.email {
    transition: all .5s .3s;  
}
.github {
    transition: all .5s .5s;  
}
.linkedin {
    transition: all .5s .7s;  
}
.icon-wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.6rem;
}
.email .icon-wrapper {
    background-color: rgb(240, 164, 24);
}
.github .icon-wrapper {
    background-color: rgb(30, 30, 31);
}
.linkedin .icon-wrapper {
    background-color: rgb(53, 141, 241);
}
.icon-wrapper i {
    font-size: 2rem;
    color: #fff;
}
.email h5 {
    color: rgb(240, 164, 24);
}
.github h5 {
    color: rgb(30, 30, 31);
}
.linkedin h5 {
    color: rgb(53, 141, 241);
}
.card-info h4 {
    font-size: 2rem;
}
.card-info p {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.1rem;
}
.card-out span {
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: bold;
    color:#999;
}

/* Resizing for MacBook Pro 13-inch width (1440px) */
@media(max-width:1440px) { 
    
    /* Home Page */
    .main-title {
        font-size: 3.5rem;
    }  
    
   /* Project Section */
    .pcard {
        height: 85vmin;
        padding-bottom: 10em;
    }

    .pcard > h2 {
        font-size: 2rem;
    }

    .pcard > img {
        height: 65%;
    }
    
    .pcard:nth-child(2) {
        height: 95vmin;
    }
    .pcard:nth-child(2) > img {
        width: 40%;
        height: 73%;
    }

    /* Experience Section */
    .expCard {
        height: 13rem;
    }    
    
    .expCard > img {
        height: 12.8rem;
        width: 200px;
        object-fit: cover;
    }

    /* Contact Me Section */
    .about {
        min-height: 120vh;
    }

    .card {
        margin: 0 0 0 31.5%;
    }

    .card-bio {
        padding: 1rem 1rem 2.5rem 1rem;
    }
}

/* Resizing with MacBook Pro 13-inch height (800px) */
@media(max-height: 800px) {

    .experience {
        min-height: 220vh;
        padding-top: 30vh;
    }

    .about {
        min-height: 170vh;
    }

    .hi {
        min-height: 365vh; 
    }
}

/* Resizing for mobile devices & smaller tablets */
@media(max-width:920px) {

    /* Home Page */
    .hi {
        min-height: 190vh; 
        background-color: #102044;
        width: 100%;
    }
    .container img {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
    .main-title {
        font-size: 1.6rem;
        top: 30%;
        left: 30%;
    }

    /* Project Section */
    .projects {
        height: 270vh;
    }
    .projects > h1 {
            font-size: 3rem;
    }
    .pcard {
        height: 100vmin;
    }
    .pcard > h2 {
        font-size: 1rem;
    }
    .pcard > img {
        width: 100%;
    }
    .pcard:nth-child(2) {
        height: 102vmin;
    }
    .pcard:nth-child(2) > img {
        width: 40%;
        height: 65%;
    }
    .cardProjectTech > img {
        object-fit: scale-down;
        width: 30px;
        height: 30px; 
    }
    .cardDescriptionBox > p {
        font-size: 2.4vmin;
    }
    .cardLinkWrapper > a {
        font-size: 1.5rem;
    }
    .cardLinkWrapper > a > h3 {
        font-size: 0.5rem;
    }

    /* Experience Section */
    .experience {
        width: 100vw;
        max-width: 100%;
        height: 160vh;
    }
    .experience h1 {
        font-size: 3rem; 
    }
    .expCard {
        width: 140%;
        height: 10rem;
    }
    .expCard > img {
        height: 9.7rem;
        width: 120px;
        margin-right: 10px;
    }
    .cardExperienceBox > p {
        font-size: 0.5rem; 
    }
    .cardExperienceBox > h2 {
        font-size: 0.8rem;
        padding-top: 10px;
    }
    .cardExperienceBox > h3 {
        font-size: 0.6rem;
    }

    /* Contact Me Section */
    .about h1 {
        font-size: 3rem;
    }
    .card {
        width: 18rem;
        margin: 0 20% 0 11%;
    }
    .card-bio {
        padding: 1rem 1rem 2rem 1rem;
    }
    .image-wrapper {
        margin-top: 2em;
        width: 30rem;
        height: 6rem;
    }
    .card-info h4 {
        font-size: 1.5rem;
    }
    .card-info p {
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
    }
    .card-btn {
        right: 4rem;
        font-size: 1rem;
    }
    .change .card-btn {
        width: 4rem;
        height: 4rem;
        right: -2rem;
        bottom: -2rem;
        border-radius: 50%;
    }
    .card-contact h5 {
        font-size: 1rem;
    }
    .card-out {
        padding: 0.5rem;
    }
}