*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10;
}

header .logo {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 10px rgba(27, 49, 106, 0.5);
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
} 

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    left: 8%;
    list-style: none;
}

header ul li a {
    position: relative;
    padding: 6em;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 10px rgba(27, 49, 106, 0.5);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky {
    padding: 20px 100px;
    background: black;
    opacity: 70%;
}

header.sticky ul li a {
    position: flex;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding: 9em;
    color: rgb(248, 203, 126);
    text-shadow: 0 0 10px rgba(255, 255, 255, .15);
}

.sticky .logo {
    opacity: 0;
    visibility: hidden;
}

.seemore {
    position: fixed;
    padding-top: 300px;
    transform: translateY(-40%);
    font-size: 1.25vmax;
    letter-spacing: 0.3vmax;    
}

.container .words span {
    position: absolute;
    white-space: nowrap;
    color: rgb(248, 203, 126);
    animation: animate 17s linear infinite;
    opacity: 0;
}

.container .words span:nth-child(2) {
    animation-delay: 2s;
}

.container .words span:nth-child(3) {
    animation-delay: 4s;
}

.container .words span:nth-child(4) {
    animation-delay: 6s;
}

.container .words span:nth-child(5) {
    animation-delay: 8s;
}

.container .words span:nth-child(6) {
    animation-delay: 10s;
}

.container .words span:nth-child(7) {
    animation-delay: 12s;
}

.container .words span:nth-child(8) {
    animation-delay: 14s;
}

.container .words span:nth-child(9) {
    animation-delay: 16s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    2% {
        opacity: 1;
        transform: translateY(0);
    }
    
    10% {
        opacity: 1;
        transform: translateY(0);
    }

    12% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

.container {
    height:100vh;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.main-title {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 5rem;
    transform: translate(-40%, -40%);
    text-shadow: 0 0 10px rgba(255, 255, 255, .15);
}


#snow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.projects {
    width: 100%;
    background-color: #102044;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    position: absolute;
}

.card {
    width: 60rem;
    padding-top: 5%;
}

.card-bio {
    background-color: #97ade6;
    padding: 2rem 2rem 6rem 2rem;
    display: flex;
    border-radius: .5rem .5rem 0 0; 
    position: relative;
    z-index: 100;
}

.project-info img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; 
    height:100%;
    object-fit: cover;
}

.project-info {
    text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.3);
}

.card-more {
    background-color: #5e79c4;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0 0 .5rem .5rem;
    transform: translateY(-100%); 
    transition: all 0.5s;
}

.change .card-more {
    transform: translateY(0);
}

.card-more h5 {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.3);
    transform: scale(0);
    transform-origin: left;
    transition: all 0.5s;
}

.change .card-more h5 {
    transform: scale(1);
}

.card-btn {
    position: absolute;
    bottom: -2.5rem;
    right: 10rem;
    padding: 1rem 1.5rem 1rem 1.7rem;
    background-color: #2b303a; 
    color: #fff;
    border-radius: 5rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.3);
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

.change .card-btn {
    width: 6rem;
    right: -3rem;
    bottom: -3rem;
    border-radius: 50%;
}

.card-btn-info {
    transition: all 0.5s 0.1s;
}

.card-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change .card-btn-info {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s; 
}

.card-btn i {
    opacity: 0;
    visibility: hidden;
}

.change .card-btn i {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.card-out {
    background-color: #fff;
    padding: 1.2rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0; 
    visibility: hidden;
}

.change .card-out {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.link {
    transition: all .5s .3s;  
}

.gitlink {
    transition: all .5s .5s;  
}

.icon-wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.6rem;
}

.link .icon-wrapper {
    background-color: rgb(240, 164, 24);
}

.gitlink .icon-wrapper {
    background-color: rgb(30, 30, 31);
}

.icon-wrapper i {
    font-size: 2rem;
    color: #fff;
}

.link-details h5 {
    font-size: 1.2rem;
}

.link h5 {
    color: rgb(240, 164, 24);
}

.git h5 {
    color: rgb(30, 30, 31);
}

.project-info p {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.1rem;
}

.card-out span {
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: bold;
    color:#999;
}